<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="JetBrains.dotMemoryUnit" version="3.0.20171219.105559" targetFramework="net471" />
  <package id="Moq" version="4.9.0" targetFramework="net471" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="xunit" version="2.4.0" targetFramework="net471" />
  <package id="xunit.abstractions" version="2.0.2" targetFramework="net471" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net471" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net471" />
  <package id="xunit.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net471" />
  <package id="xunit.runner.visualstudio" version="2.4.0" targetFramework="net471" developmentDependency="true" />
</packages>