<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.5.3" targetFramework="net461" />
  <package id="Autofac" version="4.1.1" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Serilog" version="2.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.1.0" targetFramework="net461" />
  <package id="SuperSocket" version="1.6.6.1" targetFramework="net461" />
</packages>