<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Zen.Trunk.EvalClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <Zen.Trunk.EvalClient.Properties.Settings>
      <setting name="AllowedEncryption" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PreferEncryption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GlobalMaxConnections" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="GlobalMaxDownloadSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GlobalMaxUploadSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GlobalMaxHalfOpenConnections" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="HaveSuppressionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListenPort" serializeAs="String">
        <value>52138</value>
      </setting>
      <setting name="MaxOpenFiles" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxReadRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxWriteRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SavePath" serializeAs="String">
        <value>C:\Downloads\Zen Torrent\</value>
      </setting>
      <setting name="ListenAddress" serializeAs="String">
        <value/>
      </setting>
    </Zen.Trunk.EvalClient.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
