<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="ServiceDomainAccountDlg" Width="370" Height="270" Title="!(loc.ServiceAccountDlg_Title)">
				<!-- Banner section -->
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ServiceAccountDlgDescription)" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ServiceAccountDlgTitle)" />
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ServiceAccountDlgBannerBitmap)" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

				<!-- Footer section -->
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>

				<!-- Main dialog controls -->
				<Control Id="ServiceAccountLabel" Type="Text" X="20" Y="60" Width="50" Height="17" Transparent="yes" Text="!(loc.ServiceAccountDlg_UserName)" />
				<Control Id="ServiceAccountControl" Type="Edit" X="80" Y="60"
						 Width="80" Height="17" Property="SERVICEACCOUNT"
						 Indirect="no">
				</Control>
				<Control Id="ServicePasswordLabel" Type="Text" X="20" Y="80" Width="50" Height="17" Transparent="yes" Text="!(loc.ServiceAccountDlg_Password)" />
				<Control Id="ServicePasswordControl" Type="Edit" X="80" Y="80"
						 Width="80" Height="17" Property="SERVICEPASSWORD" Password="yes"
						 Indirect="no">
				</Control>
				<Control Id="ServiceDomainLabel" Type="Text" X="20" Y="100" Width="50" Height="17" Transparent="yes" Text="!(loc.ServiceAccountDlg_Domain)" />
				<Control Id="ServiceDomainControl" Type="Edit" X="80" Y="100"
						 Width="80" Height="17" Property="SERVICEDOMAIN"
						 Indirect="no">
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>
